<p class="show-explain">Clique sur une carte ci-dessous pour voter</p>
<div class="cards">
  <% @nominees.each do |nominee| %>
    <%= link_to answers_path(nominee_id: nominee.id, category_id: @category.id, user_id: current_user), method: :post, class: "link-nominee" do %>
      <div class="card">
        <%= image_tag nominee.title_photo, height: 373, width: 280, crop: :fill, class: 'photo-nominee' %>
        <div class="infos-nominee">
          <div class="left-infos">
            <div class="name">
              <%= nominee.title_text %>
            </div>
            <div class="real">
              <%= nominee.subtitle_text %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
